<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdmToSap.Properties.Settings.C__admtosap_DataB_sqliteConnectionString"
            connectionString="Dsn=SQLite3 Datasource;database=C:\admtosap\DataB.sqlite;stepapi=0;syncpragma=NORMAL;notxn=0;timeout=100000;shortnames=0;longnames=0;nocreat=0;nowchar=0;fksupport=0;oemcp=0;bigint=0;jdconv=0"
            providerName="System.Data.Odbc" />
        <add name="AdmToSap.Properties.Settings.cotillonConnectionString"
            connectionString="Dsn=cotillon;database=cotillon;description=base dato cotillon;option=0;port=0;server=localhost;uid=adm"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>